* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #EEE;
  color: #333;
  font-family: Roboto;
  font-weight: 500;
}

.contenedor {
  display: flex;
  margin: 2em auto;
  max-width: 1000px;  
}

h1 {
  text-align: center;
  color: #333;
  font-weight: 300;
}

.formulario {
  font-size: 1.4em;
  width: 16em;
  flex-shrink: 0;
  padding: .5em;
  background: white;
  border-radius: .3em;
  text-align: center; 
}

.formulario input {
  display: block;
  padding: .4em;
  margin: .4em 0;
  font-size: 1.1em;
  font-weight: 300;
  font-family: Roboto;
  outline-color: #AAA;
  outline-width: .05em;
  width: 100%;
}

.contactos {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.contacto {
  background: white;
  border-radius: .5em;
  padding: .5em 2.5em .5em 1.5em;
  margin: .5em;
  margin-top: 0;
  position: relative;
}

.eliminar {
  position: absolute;
  top: .25em;
  right: .25em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center
}

.agregar {
  background: #444444;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: .5em ;
}

.nombre {
  font-size: 1.4em;
}

.telefono, .nacionalidad {
  font-size: .9em;
}