* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

header {
    display: flex;
    align-items: center;
    height: 45vh;
    background-image: url("Sprites/ground.png");
    vertical-align: middle;
}

.header_container {
    margin: auto 0;
    display: flex;
    height: 200px;
}

.link {
    opacity: 0;
}

.link_char {
    height: 200px;
    width: 212px;
    background-image: url("Sprites/Ataque/ataque_0.png");
    background-repeat: no-repeat;
    margin-left: 35vw;
    margin-top: 14px;
}

.l_muerte {
    animation: .75s anim_muerte; 
 }

.l_ataque {
    animation: .5s anim_ataque;
}

.l_golpe {
    animation: .6s anim_golpe;
}

.enemy_char {
    position: absolute;
    height: 200px;
    width: 220px;
    background-image: url("Sprites/Enemy/Ataque/enemy_0.png");
    background-repeat: no-repeat;
    left: 43vw;
}

.e_muerte {
    animation: .65s anim_enemy_muerte;
}

.e_ataque {
    animation: .65s anim_enemy_ataque;
}

.e_golpe {
    animation: .6s anim_enemy_golpe;
}

footer {
    height: 55vh;
    background-image: url("Sprites/tilt.png");
}

.division {
    height: 5vh;
    background-image: url("Sprites/line.png");
    background-repeat: repeat-x;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 310px;
    width: 720px;
    background-image: url("Sprites/input.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 720px;
    margin: 15px auto 0px;
    padding: 25px;
}

.display {
    display: flex;
    width: 100%;
    justify-content: center;
}

input {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    width: 40px;
    height: 50px;
    border: none;
    background: none;
    color: white;
    font-size: 1.5em;
    outline: none;
    border-bottom: 2px solid white;
    margin: 0px 10px;
}

.teclas {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(3,50px);
    justify-items: center;
    align-items: center;
    align-content: start;
    grid-row-gap: 10px;
}

.casilla {
    cursor: pointer;
    transition: all 2s;
}

.tecla {
    height: 40px;
    transition: all .2s;
}

.tecla:hover {
    height: 50px;
}


.teclado_img {
    margin: 10px 0px;
    height: 310px;
}

.a {
    letra: A
}

@keyframes anim_muerte {
    0% {
        background-image: url(Sprites/Muerte/muerte_0.png);
        background-repeat: no-repeat;
    }

    20% {
        background-image: url(Sprites/Muerte/muerte_1.png);
        background-repeat: no-repeat;
    }

    40% {
        background-image: url(Sprites/Muerte/muerte_2.png);
        background-repeat: no-repeat;
    }

    60% {
        background-image: url(Sprites/Muerte/muerte_3.png);
        background-repeat: no-repeat;
    }

    80% {
        background-image: url(Sprites/Muerte/muerte_4.png);
        background-repeat: no-repeat;
    }

    100% {
        background-image: url(Sprites/Muerte/muerte_5.png);
        background-repeat: no-repeat;
    }
}

@keyframes anim_ataque {
    0% {
        background-image: url(Sprites/Ataque/ataque_0.png);
        background-repeat: no-repeat;
    }

    15% {
        background-image: url(Sprites/Ataque/ataque_2.png);
        background-repeat: no-repeat;
    }

    30% {
        background-image: url(Sprites/Ataque/ataque_3.png);
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(Sprites/Ataque/ataque_4.png);
        background-repeat: no-repeat;
    }

    60% {
        background-image: url(Sprites/Ataque/ataque_5.png);
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(Sprites/Ataque/ataque_6.png);
        background-repeat: no-repeat;
    }

    100% {
        background-image: url(Sprites/Ataque/ataque_0.png);
        background-repeat: no-repeat;
    }
}

@keyframes anim_golpe {
    0%{
        background-image: url(Sprites/golpe/link_golpe_0.png);
        background-repeat: no-repeat;
    }

    50%{
        background-image: url(Sprites/golpe/link_golpe_0.png);
        background-repeat: no-repeat;
    }

    100% {
        background-image: url(Sprites/golpe/link_golpe_3.png);
        background-repeat: no-repeat;
    }
}

@keyframes anim_enemy_ataque {
    0% {
        background-image: url(Sprites/Enemy/Ataque/enemy_0.png);
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(Sprites/Enemy/Ataque/enemy_1.png);
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(Sprites/Enemy/Ataque/enemy_2.png);
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(Sprites/Enemy/Ataque/enemy_3.png);
        background-repeat: no-repeat;
    }

    100%{
        background-image: url(Sprites/Enemy/Ataque/enemy_0.png);
        background-repeat: no-repeat;
    }
}

@keyframes anim_enemy_golpe {
    0% {
        background-image: url(Sprites/Enemy/Ataque/enemy_0.png);
        background-repeat: no-repeat;
    }

    33% {
        background-image: url(Sprites/Enemy/Golpe/enemy_0.png);
        background-repeat: no-repeat;
    }

    66% {
        background-image: url(Sprites/Enemy/Golpe/enemy_1.png);
        background-repeat: no-repeat;
    }

    100% {
        background-image: url(Sprites/Enemy/Golpe/enemy_2.png);
        background-repeat: no-repeat;
    }
}

@keyframes anim_enemy_muerte {
    0% {
        background-image: url(Sprites/Enemy/Muerte/enemy_0.png);
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(Sprites/Enemy/Muerte/enemy_1.png);
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(Sprites/Enemy/Muerte/enemy_2.png);
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(Sprites/Enemy/Muerte/enemy_3.png);
        background-repeat: no-repeat;
    }

    100% {
        background-image: url(Sprites/Enemy/Muerte/enemy_4.png);
        background-repeat: no-repeat;
    }
}
/*
.container {
    height: 100vh;
    background-image: url("Sprites/tilt.png");
}
*/
